doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="HandheldFriendly" content="True")
    meta(name="referrer" content="origin")
    
    title="QuasselDroid"
    meta(name="description" content=pageDescription)
    link(rel="shortcut icon" href="assets/favicon.svg")
    link(rel="canonical" href=pageUrl)
    
    meta(property="og:site_name" content="QuasselDroid")
    meta(property="og:type" content="website")
    meta(property="og:title" content="QuasselDroid")
    meta(property="og:description" content=pageDescription)
    meta(property="og:url" content=pageUrl)
    meta(property="og:image" content=pageThumb)
    
    meta(property="twitter:card" content="summary_large_image")
    meta(property="twitter:title" content="QuasselDroid")
    meta(property="twitter:description" content=pageDescription)
    meta(property="twitter:url" content=pageUrl)
    meta(property="twitter:image:src" content=pageThumb)
    
    meta(name="generator" content="Human v1.2.687")
    
    link(rel="stylesheet" href="semantic/semantic.min.css")
    link(rel="stylesheet" href="assets/style.css")
  body#page-index
    .pusher
      .full.height
        .following.bar
          .ui.container
            .ui.large.secondary.menu.inverted
              a.view-ui.item.active
                img.ui.logo.left(src="assets/icon.svg")
                | QuasselDroid
              a.view-ui.item(href="blog/")
                | Blog
              .right.menu
                a.view-ui.item(href="https://github.com/sandsmark/QuasselDroid")
                  i.icon.github.left
                  span.text.
                    GitHub
                a.view-ui.item(href="releases/")
                  i.icon.download.left
                  span.text.
                    Download
        .masthead.segment
          .ui.container
            .introduction
              h1.ui.inverted.header.
                QuasselDroid
              h2.ui.inverted.
                Chat comfortably, everywhere
              .ui.hidden.divider
              a.ui.huge.inverted.download.button(href="releases/")
                span.text.
                  Download
                i.icon.download.right
              a.ui.huge.inverted.basic.button(href="https://github.com/sandsmark/QuasselDroid")
                span.text.
                  GitHub
                i.icon.github.right
        .ui.vertical.stripe.intro.segment
          .ui.stackable.very.relaxed.center.aligned.grid.container
            .row
              .twelve.wide.column
                img.ui.fluid.image(src="assets/devices.png")
                h1.ui.header.
                  Stay connected from every device –<br>never miss a message again
                p.
                  QuasselDroid is a pure-java client for the Quassel core, allowing <br>
                  you to connect to your Quassel core using your Android™ phone.
          .ui.stackable.very.relaxed.grid.container
            .row
              .seven.wide.column
                h2.ui.header.
                  Awesome new Feature
                p.
                  Dynamically touching base about incentivizing stacks will make us leaders in the best-of-breed alignment industry.
                p.
                  So we can hit the ground running, we will be virtually virtualising every dot-bomb in our space.
                p.
                  Going forward, our immersive bandwidth will deliver value to prince2 practitioners.
              .nine.wide.column
                img(src="https://i.imgur.com/YxZlfTE.png")
            .ui.divider
            .row
              .seven.wide.column
                h2.ui.header.
                  Which no other client has
                p.
                  Going forward, our proactive stand-up will deliver value to standard setters.
                p.
                  Our business integrates siloes to iteratively and proactively strategize our innovative core competency.
              .nine.wide.column
                img(src="https://i.imgur.com/iSSZI6n.png")
            .ui.divider
            .row
              .seven.wide.column
                h2.ui.header.
                  And which makes us sound awesome
                p.
                  Intelligently touching base about aligning brands will make us leaders in the senior standpoint industry.
              .nine.wide.column
                img(src="https://i.imgur.com/q7Mx3Kp.png")
      .ui.black.inverted.vertical.footer.segment
        .ui.center.aligned.container
          .ui.stackable.inverted.grid
            .three.wide.column
              h4.ui.inverted.header.
                Community
              .ui.inverted.link.list
                a.item(href="https://www.transifex.com/quasseldroid/quasseldroid/").
                  Help Translate
                a.item(href="https://github.com/sandsmark/quasseldroid/issues/").
                  Submit an Issue
                a.item(href="irc://chat.freenode.org/#quasseldroid").
                  Join our Chat
                a.item(href="https://reports.kuschku.de/").
                  Crash Reporter
            .three.wide.column
              h4.ui.inverted.header.
                Network
              .ui.inverted.link.list
                a.item(href="http://quassel.info/").
                  Quassel
                a.item(href="https://github.com/magne4000/quassel-webserver/").
                  Quassel-Webserver
            .three.wide.column
              h4.ui.inverted.header.
                Stock Photos
              p
                | Header image sourced from 
                a(href="https://kaboompics.com/one_foto/618/cell-phone-in-hands")
                  | Kaboompics
          .ui.inverted.section.divider
          img.ui.centered.mini.image(src="assets/icon.svg")
          .ui.horizontal.inverted.small.divided.link.list
            a.item(href="https://github.com/sandsmark/QuasselDroid").
              Free &amp; Open Source (GPL &amp; LGPL)
  
    script(src="https://code.jquery.com/jquery-1.11.3.min.js")
    script(src="semantic/semantic.min.js")
    script(src="assets/script.js")
    
<!-- http://kaboompics.com/one_foto/618/cell-phone-in-hands -->